@charset "UTF-8";

@font-face {
    font-family: 'NotoSans';
    src: url('/resources/font/NotoSansKR-Medium.otf') format('truetype');
}
 /* 헤더 */
      header {
        height: 220px;
        border-bottom: 1px solid #ebebeb;
      }
      header .header-container {
          max-width: 1024px;
          margin: 0 auto;
          display: flex;
          height: 220px;
          padding: 0px;
          align-items: center;
          position: relative; 
      }

      header #menuwrap{
        display: flex;
        width: 1024px;
        height: 200px;
      }

      /* 로고 이미지 스타일 */  
      header #logoArea {  
        align-items: center;
        display: flex;
        margin: 0 auto;
        width: 300px;
        height: 200px;
      }
      header img {
        width: 150px;
        margin-top: 0px;
        padding-top: 0px;
      }
            
      /* 검색창 */
      header #searchArea{
          margin-top: 0px;
          height: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-grow: 2;
          width: 500px;
          
          
      }

      header .search-form {
        display: flex;
        align-items: center;
        border: 2px solid  #D3D2D2;
        border-radius: 20px;
        width: 418px;
        height: 35px;
      }

      header .search-form input[type="text"] {
        border: none;
        background-color: transparent;
        flex: 1;
        font-size: 12px;
        outline:none;
        text-align: center;
        padding-left: 40px;
      }

      header .search-form button[type="submit"] {
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin-right: 10px;
      }

      /* 우측 사이드 버튼 */
      header #menuArea {
        /* position: absolute; */
        top: 0;
        right: 0;
        font-size: 12px; 
        font-weight: bold;
        width: 300px;
      }
      header #menuArea a {
        margin: 5px;
        color: #596180;
        text-decoration: none;
      }
      header #menuArea a:hover{
        color: #00008B;
      }
      /* 로그인, 회원가입, 고객센터 */
      header #login{
        width:100%;
        margin: 25px 0 20px 0;
      }
      header #login ul{
        text-align: center;
        display: flex;
        justify-content: center;
        list-style: none;
      }
      header #login ul li {
        margin-left: 10px;
      }

      /* 마이메뉴, 결제함 */
      header #menu{
        width:100%;
      }
      header #menu ul{
        text-align: center;
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 10px;
      }
      header #menu ul li {
        margin-left: 30px;
      }


      /* 네비게이션 메뉴 스타일 */
      header nav {
        width: 1024px;
        height: 50px;
        position: absolute;
        bottom: 0;
      }

      header #nav_items {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
      }

      header #nav_items ul {
        margin-left:15px;
        padding:0px;
      }

      header #nav_items ul li {
      display: inline-block;
      margin-left: 0px;
      margin-right: 100px;
      }

      header #nav_items ul li a {
      color: #333;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      }

      header #nav_items ul li a:hover {
      color: #666;
      }