@charset "UTF-8";

@font-face {
    font-family: 'NotoSans';
    src:url('../../font/common/NotoSansKR-Light.otf') format('truetype');
}

body {
   font-family: 'NotoSans'; 
   font-style: normal;
   font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
   font-weight: 600;
}
#wrap1{
   width:1200px;
}

#wrap2{
   width:1024px;
   margin: 0 auto;
}

#banner {
  background-image: url("../../images/trainTable/trainTableBanner.png");
  height: 120px;
  margin: 20px 0px 50px 0px;
  border-radius: 4px;
  width: 1024px;
  display: flex;
 
  
}


#banner_text {
  height: 63px;
  width: 251px;
  left: 104px;
  top: 366px;
  border-radius: nullpx;
  color: #0a0a0a;
  font-size: 30px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  padding: 30px 10px;
}

#ttable {
  border-radius: 4px;
  width:550px;
  padding: 20px;
  border: 2px solid #D3D2D2;
}

#ptable{
  border-radius: 4px;
  width: 550px;
  padding: 20px;
  height: 432px;
  border: 2px solid #D3D2D2;
}


#topTable {
  padding-top: 150px;
}

@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

/* body { background-color : skyblue; }  */

#field {
  text-align: center;
  width: 1024px;
  display: flex;
  justify-content: space-between;
}

fieldset {
  width: 1024px;
  margin-right: 0px;
  vertical-align: top;
}


select{
  margin: 10px;
   border: 0.5px solid #D3D2D2;
      border-radius: 4px;
      margin-bottom: 10px;
}

option{
  font-size: 15px;
 border: 0.5px solid #D3D2D2;
      border-radius: 4px;
      margin-bottom: 10px;
}

#searchTrain{
  margin-top: 30px;

}


#traintable_btn {
  background-color: #596180;
  transition-duration: 0.2s;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  font-size: larger;
  font-weight: bolder;
  color: #fff;
  outline: none;
  border: 0px;
  cursor: pointer;
}
#traintable_btn:hover{
   background-color: #00008B;
}

#cityBtn {
  background-color: rgb(89, 97, 128);;
  color: #fff;
  outline: none;
  border: 0px;
  cursor: pointer;
  border-radius: 5px;
  height: 100px;
  width: 200px;
  font-size:12px;
}

a {
  text-decoration: none;
  color: white;
}

#depId {
  background-color: rgb(89, 97, 128);;
  color: #fff;
  outline: none;
  border: 0px;
  cursor: pointer;
  border-radius: 4px;
  height: 30px;
  width: 50px;
  font-size: large;
}
}
#depId:hover{
   background-color: #00008B;
}


#arId {
  background-color: rgb(89, 97, 128);;
  color: #fff;
  outline: none;
  border: 0px;
  cursor: pointer;
  border-radius: 4px;
  height: 30px;
  width: 50px;
  font-size: large;
}
#arId:hover{
   background-color: #00008B;
}


#depPlandTime{
   margin:10px;
   
}

#charge{
        position: relative;
        left: 1000px;
        
      }

#charge_btn{
  background-color: rgb(89, 97, 128);
  transition-duration: 0.2s;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  /* font-size: larger; */
  font-weight: bolder;
  color: #fff;
  /* outline: none; */
  border: 0px;
  cursor: pointer;
  outline-color: rgb(89, 97, 128);
}

.personTitle{
  text-align: left;
}

#none{
  margin-top: 100px;
  margin-left: 45px;
}

#hr{
   width: 100%;
   display: none;
}

#checkBack{
  background-color: #8ea0df;
  transition-duration: 0.2s;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  font-size: 15px;
  font-weight: bolder;
  color: #fff;
  outline: none;
  border: 0px;
  cursor: pointer;
  margin-top: 50px;
  display: none;
}


  #myTable{
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
  }
   #tableBody,#tableHead {
    border: 1px solid #444444;
    text-align: center;
  }
  #tableHead{
  font-weight: bold;
  vertical-align: top;
  color: #fff;
  background-color: #596180;
  text-align: center;
}

#sSeat{
  border: 1px solid #596180;
    background-color: #596180;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

#sRes{
    border: 1px solid #596180;
    background-color: rgba(0, 0, 0,0);
    color: #596180;
    padding: 3px;
    border-radius: 5px;
}

#nSeat{
    border: 1px solid #596180;
    background-color: #596180;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

#nRes{
    border: 1px solid #596180;
    background-color: rgba(0, 0, 0,0);
    color: #596180;
    padding: 3px;
    border-radius: 5px;
}


input{
      border: 0.5px solid #D3D2D2;
      border-radius: 4px;
      font-size: 12px;
      padding-left:5px;
   }
p{
   
   color: #596180;
   
}

.station-btn{
	border: 1px solid #596180;
    background-color: #596180;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

.city-btn{
	border: 1px solid #596180;
    background-color: #596180;
    color: white;
    padding: 3px;
    border-radius: 5px;
}