#banner {
  background-image: url("../../images/trainTable/trainTableBanner.png");
  height: 100px;
  margin: 30px 60px 30px 180px;
  border-radius: 10px;
  width: 1024px;
 
  
}
#banner_text {
  height: 63px;
  width: 251px;
  left: 104px;
  top: 366px;
  border-radius: nullpx;
  color: #0a0a0a;
  font-size: 30px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  padding: 30px 10px;
}

#ttable {
  border-radius: 10px;
  width:400px;
}

#topTable {
  padding-top: 150px;
}

@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

/* body { background-color : skyblue; }  */

#field {
  text-align: center;
  padding-left: 10px;
}

fieldset {
  display: inline-block;
  width: 45%;
  margin-right: 0px;
  vertical-align: top;
}

#ptable{
  border-radius: 10px;
  width: 300px;
  height: 435px;
}


#fields{
  margin-left: 50px;

}

select{
  margin: 10px;
}

option{
  font-size: 15px;
}

#searchTrain{
  margin-top: 30px;

}


#traintable_btn {
  background-color: #8ea0df;
  transition-duration: 0.2s;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  font-size: larger;
  font-weight: bolder;
  color: #fff;
  outline: none;
  border: 0px;
  cursor: pointer;
}

#cityBtn {
  background-color: rgb(89, 97, 128);;
  color: #fff;
  outline: none;
  border: 0px;
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  width: 50px;
  font-size: large;
}

a {
  text-decoration: none;
  color: white;
}

#depId {
  background-color: rgb(89, 97, 128);;
  color: #fff;
  outline: none;
  border: 0px;
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  width: 50px;
  font-size: large;
}

#arId {
  background-color: rgb(89, 97, 128);;
  color: #fff;
  outline: none;
  border: 0px;
  cursor: pointer;
  border-radius: 5px;
  height: 30px;
  width: 50px;
  font-size: large;
}

#depPlandTime{
	margin:10px;
	
}

#charge{
        position: relative;
        left: 1000px;
        
      }

      #charge_btn{
        background-color: rgb(89, 97, 128);;
        transition-duration: 0.2s;
        border-radius: 5px;
        width: 100px;
        height: 30px;
        /* font-size: larger; */
        font-weight: bolder;
        color: #fff;
        /* outline: none; */
        border: 0px;
        cursor: pointer;
        outline-color: rgb(89, 97, 128);
      }

