@charset "UTF-8";

@font-face {
    font-family: 'NotoSans';
    src:url('../../font/common/NotoSansKR-Light.otf') format('truetype');
}

body {
	font-family: 'NotoSans'; 
	font-style: normal;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 600;
}
/* 페이지 헤더 속성 */
.page-heading{
	text-align:center;
	padding-top:10px;
	padding-bottom:20px;
}

