@charset "UTF-8";
@font-face {
    font-family: 'NotoSans';
    src:url('../../font/common/NotoSansKR-Light.otf') format('truetype');
}

body {
	font-family: 'NotoSans'; 
	font-style: normal;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 600;
}

 h4 {
   	color:#00008b;
 }

 section{
	min-height: 900px;
	width: 1200px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
 
 }
 section .seciton-container {
 margin: 0 auto;
 height: 100%;
 padding-top: 20px;
 }
 
 section .content{
 width: 1024px;
 margin: 0 auto;
 font-size: 14px;
 }
 
 #heading-conatiner{
   margin-top:10px;
     height: 50px;


 }


 /* 박스 */
 .boxContainer {
 display: flex;
 justify-content: space-between;
 margin: 0 auto;
 }

 .boxContainer a {
 width: 34%;
 height: 40px;
 margin:0px;
 padding: 10px 0 10px 0;
 background-color: #fff;
 border-bottom: 1px solid #D3D2D2;
 font-size: 16px;
 font-weight: 600;
 text-decoration: none;
 text-align: center;
 
 }

 #box1 {
 background-color:#00008B;
 color: #fff;
 }

 #box2 {
 background-color:#fff; 
 color: #596180;
 }

 #box3 {
 background-color:#fff; 
 color: #596180;
 }

 
 #box1:hover {
 background-color:#00008B;
 color: #fff;
 }

 #box2:hover {
 background-color:#00008B; 
 color: #fff;
 }

 #box3:hover {
 background-color:#00008B; 
 color: #fff;
 }
 
 /* 테이블  헤더*/
 #content-tablehead{
     margin: 0 auto;
 	padding: 10px 10px 0 10px;
     height: 70px;
     display: flex;
     justify-content:right;
     
 }

 /* 버튼 */
 #btnarea{
 	margin:20px 0 0 0px;
 }
 
 .noticeBtn{
     width: 100px;
     height: 30px;
     font-size: 12px;
     border: 0px;
     border-radius: 4px;
     background-color:#596180;
     color: #ffffff;
 }
 .noticeBtn:hover{
     background-color:#00008B;
     color: #ffffff;
 }
 
  .qnaBtn{
     width: 120px;
     height: 40px;
     font-size: 12px;
     border: 0px;
     border-radius: 4px;
     background-color:#596180;
     color: #ffffff;
 }
 .qnaBtn:hover{
     background-color:#00008B;
     color: #ffffff;
 }
#content-btn{
   justify-content: center;
   display:flex;
	
}
 
 

 /* 테이블(리스트) 영역  */
 #content-list{
     min-height: 200px;
 }
 table {
 width: 1024px;
 }
 
#textareabox{
	border: 0.5px solid #D3D2D2;
	border-radius: 4px;
	width: 930px;
	outline:none;
	padding: 10px;
}


.texttype1{
	width: 930px;
	height: 35px;
	padding-left: 10px;
	outline: none;
	
}
#content-list input{
	border: 0.5px solid #D3D2D2;
	border-radius: 4px;
	margin-bottom: 10px;
	font-size: 12px;
}
#content-list input::placeholder{
	padding-left: 5px;
	color:#D3D2D2;
	}
#tbline1{
	height: 50px;
}
#tbline2{
	height: 50px;
}

#tbline4{
	height: 50px;
  line-height: 50px;
}

.tbhead{
	font-weight:700;
	text-align:center;
	width: 90px;
	padding-right: 30px;
}
#content-list>table>tbody>tr {
	
	
	vertical-align:top;
}

.selecttype{
	width: 190px;
	height: 30px;
	padding-left: 10px;
	outline: none;
	border: 0.5px solid #D3D2D2;
	border-radius: 4px;
	margin-bottom: 10px;
	font-size:14px;
}

.selecttype option{
	color: #000000;
}
#cancleBtn{
	background-color: #D4062B;
}
#cancleBtn:hover{
	background-color: #770B1E;
}
#filetype{
	width: 200px;
     height: 35px;
     font-size: 12px;
     border: 0px;
     border-radius: 4px;
}



.filebox .upload-name {
    display: inline-block;
    height: 35px;
    padding: 0 10px;
    border: 0.5px solid #D3D2D2;
    width: 78%;
    color: #999999;
    outline:none;
}
.filebox label {
    display: inline-block;
    padding:  0 20px 0px 18px;
    vertical-align: middle;
    cursor: pointer;
    height: 32px;
    margin-right: 5px;
    margin-bottom: 3px;
    font-size: 12px;
    border: 0px;
    border-radius: 4px;
    background-color:#596180;
    color: #ffffff;
}
.filebox label:hover{
	background-color:#00008B
}

#txt1{
	
 	position: relative;
	top: -7px;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}


