@charset "UTF-8";

@font-face {
	font-family: 'Noto Sans';
	src: url('../../font/common/NotoSansKR-Medium.otf') format('truetype');
}

@font-face {
	font-family: 'Noto Sans Bold';
	src: url('../../font/common/NotoSansKR-Bold.otf') format('truetype');
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-backdrop {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.memberShipmodal-dialog {
	position: relative;
	margin: auto;
	top: 30%;
	width: 800px;
	height: 500px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}



.pwdmodal-dialog {
	position: relative;
	margin: auto;
	top: 30%;
	width: 600px;
	height: 500px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.qnamodal-dialog {
	position: relative;
	margin: auto;
	top: 30%;
	width: 800px;
	height: 500px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.modal-header {
	padding: 10px 20px;
	background-color: #FFF;
	border-bottom: 1px solid #ddd;
	border-radius: 4px 4px 0 0;
	color: #000000;
	text-align: center;
}

.modal-title {
	font-family: 'Noto Sans';
	font-size: 1.5rem;
	font-weight: 700;
	margin: 0;
}

.modal-body {
	padding: 20px;
	font-family: 'Noto Sans';
}

.modal-footer {
	float:right;
	padding: 10px 20px;
	background-color: #FFF;

	border-radius: 0 0 4px 4px;
	text-align: right;
}

.apply-button, .cancel-button {
	float:left;
	font-family: 'Noto Sans';
	margin: 0 auto;
	padding: 6px 12px;
	border-radius: 4px;
	border: none;
	color: #fff;
	background-color: #00008B;
	cursor: pointer;
	display: inline-block;
}

.cancel-button {
	margin-top:20px;
	background-color: #6c757d;
}


#modallogo{
	text-align: center;
}

label {
	display:inline-block;
	text-align:left;
	width:150px;
	font-weight:bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

#pwdbody{
	text-align: center;
}

.qnamodal-dialog {
	position: relative;
	margin: auto;
	top: 30%;
	width: 600px;
	height: 500px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}