<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.onthetrain.payment.model.mapper.PaymentMapper">
	
	<!-- 결제 대기 상품 조회 (숙박예약) -->
	<select id="selectPaymentWaitingByReservation">
		SELECT PW.WAITING_NO,
			   PW.TICKET_NO,
			   PW.RESERVATION_NO,
			   PW.PAYMENT_STATUS
		CASE 
			WHEN PW.TICKET_NO IS NOT NULL THEN T.ACCOMMODATION_NAME,
			WHEN PW.RESERVATION_NO IS NOT NULL THEN A.ACCOMMODATION_NAME
	
	</select>
	
	<!-- 결제 대기 상품 조회 (승차권) -->
	<select id="selectPaymentWaitingByTicket">
		SELECT PW.WAITING_NO,
			   PW.TICKET_NO,
			   PW.RESERVATION_NO,
			   PW.PAYMENT_STATUS
		FROM PAYMENT_WAITING PW
	</select>
	
	<!-- 결제 대기 상품 생성 (승차권) -->
	<insert id="insertPaymentWaiting">
	
	
	</insert>
	
	<insert id="insertPayment">
	
	
	</insert>
	
	<update id="updateRefundPaymentWaiting">
		UPDATE SET
	
	</update>
	
	<update id="updateCompletedPayment">
		UPDATE SET
	
	</update>
	
	
	
	<!-- 결제 대기 상품 수 조회 -->
	<select id="selectCountPaymentWaiting">
		SELECT COUNT(*) FROM PAYMENT_WAITING
	</select>	

	<!-- 결제 완료 상품 수 조회 -->
	<select id="selectCountPayment">
		SELECT COUNT(*) FROM PAYMENT
	</select>	

	








</mapper>