<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.onthetrain.scheduler.model.mapper.SchedulerMapper">
	<sql id="selectScheduleSql">
		SELECT
			NO,
			MEMBER_NO,
			VISABLE,
			CREATE_DATE,
			TITLE,
			FEATURED,
			PERIOD_START,
			EDIT_DATE
		FROM
			SCHEDULER
	</sql>
	
	<resultMap id="schedulerResultMap" type="Scheduler">
		<id property="no" column="NO" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="visable" column="VISABLE" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="title" column="TITLE" />
		<result property="featured" column="FEATURED" />
		<result property="periodStart" column="PERIOD_START"/>
		<result property="editDate" column="EDIT_DATE" />
	</resultMap>
	
	
	<select id="selectScheduleByNo" 
	parameterType="_int" 
	resultMap="schedulerResultMap">
		<include refid="selectScheduleSql" />
		WHERE 
				NO = #{no} 
			AND VISABLE = 'Y'
	</select>

</mapper>
