<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.kh.onthetrain.admin.model.mapper.AdminMapper">
  <sql id="selectJoinMemberSql">
	      SELECT M.NO,
		       M.MEMBERSHIP_CODE,
		       M.ID,
		       M.ROLE,
		       M.NICKNAME,
		       M.NAME,
		       M.BIRTH,
		       M.EMAIL,
		       M.PHONE,
		       M.ADDRESS,
		       M.ENROLL_DATE,
		       M.MODIFY_DATE,
		       M.SNS_LOGIN,
		       M.STATUS,
		       M.AMOUNT,
		       S.CODE,
		       S.SNS_ID
			FROM MEMBER M
	   </sql>
	 <resultMap id="memberResultMap" type="Member">
      <id property="no" column="NO"/>
      <result property="membership" column="MEMBERSHIP_CODE" />
      <result property="id" column="ID" />
      <result property="password" column="PASSWORD" />
      <result property="role" column="ROLE" />
      <result property="nickname" column="NICKNAME" />
      <result property="name" column="NAME" />
      <result property="birth" column="BIRTH" />
      <result property="email" column="EMAIL" />
      <result property="phone" column="PHONE" />
      <result property="address" column="ADDRESS" />
      <result property="enrollDate" column="ENROLL_DATE" />
      <result property="modifyDate" column="MODIFY_DATE" />
      <result property="snsLogin" column="SNS_LOGIN" />
      <result property="status" column="STATUS" />
      <result property="amount" column="AMOUNT" />
      <result property="loginType" column="CODE" />
      <result property="snsId" column="SNS_ID" />
   </resultMap>
   <resultMap id="ticketResultMap" type="TrainTicketReservation">
      <id property="ticketNo" column="TICKET_NO"/>
      <result property="nickname" column="NICKNAME" />
      <result property="trainNo" column="TRAIN_NUM" />
      <result property="departure" column="DEPARTURE" />
      <result property="arrival" column="ARRIVAL" />
      <result property="depDate" column="DEP_DATE" />
      <result property="bookDate" column="BOOK_DATE" />
      <result property="paymentStatus" column="PAYMENT_STATUS" />
      <result property="refundStatus" column="REFUND_STATUS" />
      <result property="type" column="TYPE" />
      <result property="depTime" column="DEP_TIME" />
      <result property="arrTime" column="ARR_TIME" />
      <result property="price" column="T_PRICE" />
   </resultMap>
   
   <resultMap id="faqResultMap" type="Faq">
      <id property="no" column="NO"/>
      <result property="type" column="TYPE" />
      <result property="title" column="TITLE" />
      <result property="content" column="CONTENT" />
   </resultMap>
   
   	<!-- 전체회원 수 조회 -->
   	<select id="countMember" resultType="_int">
		SELECT COUNT(*) FROM MEMBER
	</select>
	
	<!-- 전체회원리스트 조회 -->
	<select id="getMemberList" resultMap="memberResultMap">
		SELECT M.NO,
		       M.MEMBERSHIP_CODE,
		       M.ID,
		       M.ROLE,
		       M.NAME,
		       M.ENROLL_DATE,
		       M.SNS_LOGIN,
		       M.STATUS,
		       S.CODE
			FROM MEMBER M
		LEFT OUTER JOIN SNS_MEMBER S ON (M.NO = S.MEMBER_NO)
			WHERE M.ROLE='ROLE_USER'
            ORDER BY M.NO DESC
	</select>
    
    <!-- no로 회원정보 조회 -->
	<select id="findMemberByNo" resultMap="memberResultMap">
		<include refid="selectJoinMemberSql" />
		LEFT OUTER JOIN SNS_MEMBER S ON (M.NO = S.MEMBER_NO)
			WHERE M.NO=#{no}
	</select>
	
	<!-- 전체 승차권 수 조회 -->
   	<select id="countTicket" resultType="int">
		SELECT COUNT(*) FROM TICKET
	</select>
	
	<!-- 자주묻는질문 조회 -->
	<select id="findFaqList" resultMap="faqResultMap">
		SELECT NO, TYPE, TITLE, CONTENT
		FROM FAQ
	</select>
	
 </mapper>